:root {
   --main-color: #0B1D2E;
   --descriptions-color: #A4AEB4;
   --link-color: rgba(53,160,238,1);
   --left-bg-color: #35A0EE;
   --border-color: #D5D9DC;
}

body {
   background-color: #DCE8FF;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   color: var(--main-color);
   letter-spacing: 0.02em;
}

.container {
   padding: 36px 148px 44px 117px;
}

.contact-details {
   margin: 0 auto;
   max-width: 1440px;
   max-height: 900px;
   display: grid;
   grid-template-columns: 516px 1fr;

   background-color: white;
   box-shadow: 0px 0px 56px rgba(0, 133, 255, 0.05);
   border-radius: 8px;  
}

.contact-details__left-block {
   display: grid;
   grid-template-rows: 256px 180px 372px;
   
   padding: 40px 74px 52px;

   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
   
   background-color: var(--left-bg-color);
}

.nav__items {
   color: rgba(255, 255, 255, 0.5);
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
}

.nav__list {
   position: relative;
   padding-left: 42px;
   margin-bottom: 48px;

   list-style: none;
   font-weight: bold;
   font-size: 18px;
   line-height: 28px;
}

.nav__list:last-child {
   margin-bottom: 0;
}

.active {
   color: white;
}

.active::before {
   content: "";
   position: absolute;
   background-image: url("/images/Active.png");
   left: 0;
   top: 0;
   width: 28px;
   height: 28px;
}

.passive::before {
   content: "";
   position: absolute;
   background-image: url("/images/Activeless.png");
   left: 0;
   top: 0;
   width: 28px;
   height: 28px;
}

.vertical-line__top__active::before {
   position: absolute;
   display: block;
   content: "";
   background-image: url("/images/vertical\ line.png");
   width: 4px;
   height: 9px;
   left: 12px;
   margin-top: 12px;
   margin-bottom: 6px;
}

.vertical-line__bottom__active::before {
   position: absolute;
   display: block;
   content: "";
   background-image: url("/images/vertical\ line.png");
   width: 4px;
   height: 9px;
   left: 12px;
   margin-top: 27px;
   margin-bottom: 12px;
}

.vertical-line__top::before {
   position: absolute;
   display: block;
   content: "";
   background-image: url("/images/vertical\ line\ passive.png");
   width: 4px;
   height: 9px;
   left: 12px;
   margin-top: 12px;
   margin-bottom: 6px;
}

.vertical-line__bottom::before {
   position: absolute;
   display: block;
   content: "";
   background-image: url("/images/vertical\ line\ passive.png");
   width: 4px;
   height: 9px;
   left: 12px;
   margin-top: 27px;
   margin-bottom: 12px;
}

.quote {
   position: relative;
   align-self: end;
   background-color: #fff;
   padding: 48px 40px 32px;
   background-image: url("/images/Vector.png");
   background-repeat: no-repeat;
   box-shadow: 0px 8px 20px rgba(3, 17, 6, 0.03);
   border-radius: 4px;
}

.quote::before {
   content: "";

   position: absolute;
   top: -24px;
   left: -16px;

   background: #FFFFFF;
   box-shadow: 16px 12px 56px rgba(11, 29, 46, 0.15);
   border-radius: 3px;

   width: 56px;
   height: 56px;

   background-image: url("/images/quote.png");
   background-repeat: no-repeat;
   background-position: center center;
}

blockquote {
   margin: 0;
   margin-bottom: 20px;

   font-weight: 500;
   font-size: 16px;
   line-height: 24px;

   color: #A4AEB4;
}

.author {
   display: flex;
   justify-content: space-between;
}

dt {
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 16px;
   line-height: 24px;

   letter-spacing: 0.02em;

   color: #07111B;
}

dd {
   margin-left: 0;

   font-weight: 500;
   font-size: 14px;
   line-height: 20px;

   letter-spacing: 0.02em;

   color: #A4AEB4;
}

.up-logo {
   position: relative;
   top: 32px;
}


/* ************** RIGHT SIDE ************ */

.right-top {
   display: flex;
   justify-content: space-between;

   font-size: 16px;
   line-height: 24px;

   color: rgba(164, 174, 180, 0.8);
}

.help {
   display: flex;
}

.help-question {
   margin: 0;
   margin-right: 8px;
}

.help-link {
   position: relative;
   text-decoration: none;
   line-height: 24px;
   color: #2696E8;
}

.help-link::before {
   content: "";

   position: absolute;
   right: -24px;
   top: 3px;
   width: 16px;
   height: 16px;
   
   background-image: url("/images/Arrow.png");
   background-repeat: no-repeat;
}